<div id="overlay">
  <section id="login">
    <form class="overlay-form overlay-content" action="/auth/login" method="POST">
      <div class="close-overlay" onclick="hideOverlay('overlay')">
        <i class="fa-solid fa-xmark overlay-icon"></i>
      </div>
      <h2>Login</h2>
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <input class="overlay-button button" type="submit">
    </form>
  </section>
  <section id="sign-up">
    <form class="overlay-form overlay-content" action="/auth/signup" method="post">
      <div class="close-overlay" onclick="hideOverlay('overlay')">
        <i class="fa-solid fa-xmark"></i>
      </div>
      <h2>Sign Up</h2>
      <input type="text" name="username" placeholder="Username" required>
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
      <input class="overlay-button button" type="submit">
    </form>
  </section>
</div>