<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <script src="/fontawesome/fontawesome.js"></script>
    <script src="/fontawesome/solid.js"></script>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/about.css">
</head>

<body>
    <%- include('partials/header') -%>
        <section class="about">
            <h2>About</h2>
            <div class="about-content">
                <div>
                    <p>Welcome to my E-commerce website. This project demonstrates my front-end and back-end programming
                        capabilities. If you have any questions or feedback, visit <a
                            href="https://danielbaileydev.netlify.app/">danielbaileydev.netlify.app</a> for my
                        contact information.</p>
                </div>
                <div>
                    <h5>Test Account:</h5>
                    <p class="p-margin">Use the following test account to gain read-only access to the admin page.</p>
                    <p>Email: test@gmail.com</p>
                    <p>Password: 12345678</p>
                </div>
                <div>
                    <h5>Test Card:</h5>
                    <p class="p-margin">Use the test card to simulate a purchase, proper cards won't work as only the
                        Stripe test API has been implemented.</p>
                    <p>Card Number: 4242 4242 4242 4242</p>
                    <p>Expiration Date: Any future date</p>
                    <p>CVC: Any three digits</p>
                </div>
                <div>
                    <h5>Features:</h5>
                    <ul>
                        <li>User Authentication</li>
                        <li>User Roles</li>
                        <li>Admin Dashboard</li>
                        <li>Payment Processing</li>
                        <li>Search Bar</li>
                    </ul>
                </div>
                <div>
                    <h5>Tools/Languages Used:</h5>
                    <ul>
                        <li>NodeJS</li>
                        <li>PassportJS</li>
                        <li>Stripe</li>
                        <li>Multer</li>
                        <li>Express</li>
                        <li>Mongoose</li>
                        <li>EJS</li>
                        <li>MongoDB</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                    </ul>
                </div>
            </div>
        </section>
        <%- include('partials/footer') -%>
            <script src="/js/main.js"></script>
</body>

</html>