<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <script src="/fontawesome/fontawesome.js"></script>
    <script src="/fontawesome/solid.js"></script>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <i class="fa-solid fa-tags logo-icon"></i>
                <h3>Ecommerce</h3>
            </div>
            <nav>
                <ul>
                    <a href="/">
                        <li class="header-link">Home</li>
                    </a><!--
                --><a href="/products">
                        <li class="header-link active">Products</li>
                    </a><!--
                --><a href="#">
                        <li class="header-link">About</li>
                    </a>
                </ul>
            </nav>
            <div class="login">
                <a href="#">Login</a>
            </div>
        </div>
    </header>
    <section>
        <h2>Products</h2>
        <div class="product-container">
            <% products.forEach(product=> { %>
                <div class="product">
                    <img src="<%= product.img %>">
                    <h4><%= product.name %></h4>
                    <span><%= product.price %></span>
                    <a href="#" class="button">View</a>
                </div>
                <% }) %>
        </div>
    </section>
    <footer>
        <div class="footer-container">
            <span>© Daniel 2022</span>
        </div>
    </footer>
    <script src="/js/main.js"></script>
</body>

</html>