.status-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f1f1f1;
    padding: 20px;
}

.status-container p {
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.status-container .button {
    width: 100%;
    text-align: center;
}