* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    line-height: 1.5;
}

h2 {
    font-size: 3rem;
}

.button, #submit {
    font-size: 1.8rem;
    color: #F6FFF8;
    background-color: #6B9080;
    padding: 10px 20px;
    cursor: pointer;
}

.button:hover, #submit:hover {
    background-color: #A4C3B2;
}

section {
    padding: 50px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
    min-width: 350px;
}

input, textarea {
    margin-bottom: 10px;
    font-size: 1.6rem;
    resize: none;
}

.response-message {
    font-size: 1.6rem;
    padding: 10px 0;
    text-align: center;
}

.success {
    color: green;
}

.fail {
    color: red;
}

.hidden {
    display: none;
}

/* Header */
header {
    background: #6B9080;
    padding: 10px 0;
    min-width: 350px;
    user-select: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.logo {
    flex: 1;
}

.logo-icon {
    font-size: 2.4rem;
    color: #A4C3B2;
    margin-left: 10px;
}

h3 {
    font-size: 2.4rem;
    color: #F6FFF8;
    margin: 0 0 0 10px;
    display: inline-block;
}

nav {
    text-align: center;
    flex: 2;
}

.header-link {
    font-size: 1.8rem;
    color: #F6FFF8;
    padding: 10px 5px;
    margin: 0 10px;
    display: inline-block;
}

.header-link:hover {
    color: #CCE3DE;
    cursor: pointer;
}

.login {
    flex: 1;
    text-align: right;
}

div.small {
    display: none;
}

.dropdown-content>* {
    white-space: nowrap;
}

@media only screen and (max-width: 800px) {
    .dropdown-content {
        right: 0;
    }

    .small {
        text-align: center;
    }

    .header-first {
        display: none;
    }

    .login {
        flex: auto;
    }

    nav {
        flex: auto;
        text-align: left;
    }

    .header-container {
        margin: 0 15px;
    }
}

@media only screen and (max-width: 550px) {
    div.small {
        display: inline-block;
    }

    div.large {
        display: none;
    }
}

a {
    text-decoration: none;
}

.active {
    border-bottom: 2px solid #F6FFF8;
}

/* Overlay */
#overlay, #payment-overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
}

.overlay-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.overlay-form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #f1f1f1;
    min-width: 350px;
}

.overlay-form h2 {
    margin-bottom: 10px;
    text-align: center;
}

.overlay-button, #submit {
    outline: none;
    border: 0;
    background-color: #6B9080;
    margin-bottom: 0;
}

.close-overlay {
    top: 10px;
    right: 15px;
    position: absolute;
    cursor: pointer;
    font-size: 2rem;
}

/*Drop down*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #79a390;
}

.show {
    display: block;
}

.logout-form input {
    outline: none;
    border: 0;
    background-color: transparent;
}

.dropdown-button {
    margin: 0;
    padding: 10px 20px;
}

svg {
    pointer-events: none;
}

/* Footer */
footer {
    color: #F6FFF8;
    background: #6B9080;
    padding: 10px 0;
    min-width: 350px;
}

.footer-container {
    max-width: 1200px;
    display: flex;
    justify-content: end;
    margin: auto;
}

.footer-container>span {
    font-size: 1.4rem;
    margin-right: 10px;
}